.col-sm-12
  .row
    .bio-tile.col-sm-12
      .row
        .col-md-3.col-sm-4
          img.bio-img(src='/images/headshots/noah.jpg')
        .col-md-9.col-sm-8
          h3 Noah Isaacs
          h5 Co-CEO
          p Before co-founding Bowery, Noah worked for Butler Burgher Group, valuing over $2.5 Billion worth of commercial real estate in New York. In 2010 he started his career in Baseball Operations, running numbers for the Toronto Blue Jays. The following year he became the youngest plenary speaker in the 29 year history of the International Conference of the System Dynamics Society. Noah graduated from McGill University with a major in Statistics and a double minor in Operations Management and Labor-Management Relations.
    .bio-tile.col-sm-12
      .row
        .col-sm-3
          img.bio-img(src='/images/headshots/john.png')
        .col-sm-9
          h3 John Meadows
          h5 Co-CEO
          p After graduating Magna Cum Laude from the University of Pennsylvania, John joined Leitner Group, the largest independent appraisal firm in New York City. In his 4+ years at Leitner Group, now BBG, he valued over $3 billion of commercial property across all asset types. Frustrated with the antiquated process of appraising, but excited by the possibilities that property valuation can offer, John left to start Bowery with Noah and Cesar in June of 2015. 

    .bio-tile.col-sm-12
      .row
        .col-sm-3
          img.bio-img(src='/images/headshots/james.jpg')
        .col-sm-9
          h3 James Dunne, MAI
          h5 COO
          p James has worked in the real estate industry for a total of 15 years, including 8 years of commercial real estate appraisal experience. Most recently, Mr. Dunne served as a Vice President at CBRE in their Valuation &amp; Advisory Services group. Mr. Dunne has appraised a wide variety of property types including multifamily, office, industrial, self-storage facilities, retail centers, mixed-use properties and development sites. His clients include commercial banks, pension funds, private equity, government institutions, attorneys and developers.

    .bio-tile.col-sm-12
      .row
        .col-sm-3
          img.bio-img(src='/images/headshots/cesar.png')
        .col-sm-9
          h3 Cesar Devers
          h5 CTO
          p Cesar leads our team of six developers working on Bowery's appraisal platform. Cesar came to Bowery after two years as co-founder of Unicorn, a full-service development and design firm. There, he worked on web and mobile projects for companies ranging from pre-revenue startups to global Fortune 100 companies. Before that, he co-founded two startups: TonightLife and the Ascot Project. He has also written tutorials on iOS and JavaScript development. He received his bachelor’s from Princeton University. 

