.col-sm-12
  .row
    .bio-tile.col-sm-10.col-sm-offset-1
      .row
        .col-sm-3
          img.bio-img(src='https://static1.squarespace.com/static/5644eef9e4b0d159f1fced74/t/57bcc99ab3db2b729d47246e/1471990193142/images+(2).jpeg')
        .col-sm-9
          h3 John Meadows
          h5 Founder &amp; Co-CEO
          p Before co-founding Bowery, Noah worked for Butler Burgher Group, valuing over $2.5 Billion worth of commercial real estate in New York. In 2010 he started his career in Baseball Operations, running numbers for the Toronto Blue Jays. The following year he became the youngest plenary speaker in the 29 year history of the International Conference of the System Dynamics Society. Noah graduated from McGill University with a major in Statistics and a double minor in Operations Management and Labor-Management Relations.”
    .bio-tile.col-sm-10.col-sm-offset-1
      .row
        .col-sm-3
          img.bio-img(src='https://static1.squarespace.com/static/5644eef9e4b0d159f1fced74/t/57bcc99ab3db2b729d47246e/1471990193142/images+(2).jpeg')
        .col-sm-9
          h3 John Meadows
          h5 Founder &amp; Co-CEO
          p Before co-founding Bowery, Noah worked for Butler Burgher Group, valuing over $2.5 Billion worth of commercial real estate in New York. In 2010 he started his career in Baseball Operations, running numbers for the Toronto Blue Jays. The following year he became the youngest plenary speaker in the 29 year history of the International Conference of the System Dynamics Society. Noah graduated from McGill University with a major in Statistics and a double minor in Operations Management and Labor-Management Relations.”
