.col-sm-12
  .row
    .bio-tile.col-sm-12
      .row
        .col-md-3.col-sm-4
          img.bio-img(src='/images/headshots/noah.png')
        .col-md-9.col-sm-8
          h3 Noah Isaacs
          h5 Founder &amp; Co-CEO
          p Before co-founding Bowery, Noah worked for Butler Burgher Group, valuing over $2.5 Billion worth of commercial real estate in New York. In 2010 he started his career in Baseball Operations, running numbers for the Toronto Blue Jays. The following year he became the youngest plenary speaker in the 29 year history of the International Conference of the System Dynamics Society. Noah graduated from McGill University with a major in Statistics and a double minor in Operations Management and Labor-Management Relations.”
    .bio-tile.col-sm-12
      .row
        .col-sm-3
          img.bio-img(src='/images/headshots/john.png')
        .col-sm-9
          h3 John Meadows
          h5 Co-CEO
          p Before co-founding Bowery, Noah worked for Butler Burgher Group, valuing over $2.5 Billion worth of commercial real estate in New York. In 2010 he started his career in Baseball Operations, running numbers for the Toronto Blue Jays. The following year he became the youngest plenary speaker in the 29 year history of the International Conference of the System Dynamics Society. Noah graduated from McGill University with a major in Statistics and a double minor in Operations Management and Labor-Management Relations.”
    .bio-tile.col-sm-12
      .row
        .col-sm-3
          img.bio-img(src='/images/headshots/richard.png')
        .col-sm-9
          h3 Richard Taller
          h5 Chief Appraiser
          p Prior to joining Bowery, Richard worked at Metropolitan Valuation services, where he appraised a variety of income-producing properties located in New York City and northern New Jersey, with a concentration on multifamily residential properties.  At MVS, Mr. Taller provided valuation services for over $25 billion of real estate, inclusive of over 100 proposed and newly constructed luxury residential buildings containing over 30,000 units. 
    .bio-tile.col-sm-12
      .row
        .col-sm-3
          img.bio-img(src='/images/headshots/cesar.png')
        .col-sm-9
          h3 Cesar Devers
          h5 CTO
          p Before co-founding Bowery, Noah worked for Butler Burgher Group, valuing over $2.5 Billion worth of commercial real estate in New York. In 2010 he started his career in Baseball Operations, running numbers for the Toronto Blue Jays. The following year he became the youngest plenary speaker in the 29 year history of the International Conference of the System Dynamics Society. Noah graduated from McGill University with a major in Statistics and a double minor in Operations Management and Labor-Management Relations.”
