#bowery-benefits
  .container
    .col-sm-12.text-center
      .row
        .timeline
      ul.list-inline
        li
          div
            .dot
            p Bowery inspects stuff
        li
          div
            .dot
            p We have a fancy mobile app that is cool
        li
          div
            .dot
            p We then write the report using automation and data
        li
          div
            .dot
            p Speedy delivery, though not by scooter
        li
          div
            .dot
            p We deliver value after report is done