.col-sm-12.responsive-alignment
  #bowery-benefits.hidden-sm-down.text-center
    .row
      .timeline
    ul.list-inline
      li.list-inline-item
        div
          img#mobileApp.benefit-icon(src='images/benefits/inspection_app.png')
          .dot
          p Our first of its kind mobile inspection app guarantees no data or information gets lost in translation.
      li.list-inline-item
        div
          img#platform.benefit-icon(src='images/benefits/monitor.png')
          .dot
          p Every report is generated from scratch using our proprietary appraisal platform, providing industry leading accuracy. 
      li.list-inline-item
        div
          img#platform.benefit-icon(src='images/benefits/network.png')
          .dot
          p Public record integration, an exhaustive comparable database, and increased efficiency at every step.
      li.list-inline-item
        div
          img#scooter.benefit-icon(src='images/benefits/scooter.png')
          .dot
          p Our standard delivery time is 5 business days, the fastest in the industry.
      li.list-inline-item
        div
          img#cloudFolder.benefit-icon(src='images/benefits/cloud_folder.png')
          .dot
          p Clients can access their data through our lender portal.
  .hidden-md-up.col-sm-6.offset-sm-3
    .row
      .col-sm-12.mobile-benefit
        img#inspection.benefit-icon(src='images/benefits/inspection_app.png')
        h4 Mobile Data Collection
        p Our first of its kind mobile inspection app guarantees no data or information gets lost in translation.
    .row
      .col-sm-12.mobile-benefit
        img#inspection.benefit-icon(src='images/benefits/monitor.png')
        h4 Proprietary Appraisal Platform
        p Every report is generated from scratch using our proprietary appraisal platform, providing industry leading accuracy.
    .row
      .col-sm-12.mobile-benefit
        img#inspection.benefit-icon(src='images/benefits/network.png')
        h4 Increased Efficiency
        p Public record integration, an exhaustive comparable database, and increased efficiency at every step.
    .row
      .col-sm-12.mobile-benefit
        img#inspection.benefit-icon(src='images/benefits/scooter.png')
        h4 Industry-leading Delivery Time
        p Our standard delivery time is 5 business days, the fastest in the industry.
    .row
      .col-sm-12.mobile-benefit
        img#inspection.benefit-icon(src='images/benefits/cloud_folder.png')
        h4 Client Data Access
        p Clients can access their data through our lender portal.