#bowery-benefits
  .container
    .col-sm-12.text-center
      .row
        .timeline
      ul.list-inline
        li
          div
            .dot
            p Something about inspection.
        li
          div
            .dot
            p Our inspection app captures the most relevant data. 
        li
          div
            .dot
            p Reports are generated using our properiatary appraisal platorm.
        li
          div
            .dot
            p We can comfortably deliver reports in 5 business days.
        li
          div
            .dot
            p Clients can access their data through our lender portal.