#bowery-benefits.col-sm-12
  .text-center
    .row
      .timeline
    ul.list-inline
      li.list-inline-item
        div
          img#inspection.benefit-icon(src='images/benefits/hard_hat.png')
          .dot
          p Something about inspection.
      li.list-inline-item
        div
          img#mobileApp.benefit-icon(src='images/benefits/inspection_app.png')
          .dot
          p Our inspection app captures the most relevant data. 
      li.list-inline-item
        div
          img#platform.benefit-icon(src='images/benefits/monitor.png')
          .dot
          p Reports are generated using our properiatary appraisal platorm.
      li.list-inline-item
        div
          img#scooter.benefit-icon(src='images/benefits/scooter.png')
          .dot
          p We can comfortably deliver reports in 5 business days.
      li.list-inline-item
        div
          img#cloudFolder.benefit-icon(src='images/benefits/cloud_folder.png')
          .dot
          p Clients can access their data through our lender portal.