extends layout

block content
  - var teamClass = 'active'
  #client
    #client-header
      .jumbotron
          include nav
          .container-fluid
              .col-sm-12.text-center
                img.bio-img.img-thumbnail.lead-appraiser-image(
                  src='/images/headshots/james.jpg'
                )
                br
                h1.display-4 James Dunne, MAI, COO
                h2 Get to know James, Bowery's lead appraiser
    #client-body(data-target="#sidebar")
      .container-fluid
        .row
          .col-md-3#sidebar
            ul.nav.flex-column.list-unstyled
              li.nav-item
                a.nav-link.active(href='#client-header') Overview
              li.nav-item
                a.nav-link(href='#experience') Experience
              li.nav-item
                a.nav-link(href='#qualifications') Qualifications
          .col-md-9
            include lead-appraiser
            include qualifications