#contact
  .hero-inner
    .container-fluid.vertically-center
      .col-sm-12.text-center
        h2 If You're Ready to Talk, So Are We
        h3
          | Email 
          a(href="mailto:info@boweryres.com") info@boweryres.com
          | to get started.