extends layout

block content
  - var homeClass = 'active'
  .jumbotron#home-hero.embed-responsive.embed-responsive-21by9
    .hero-inner.embed-responsive-item
      include nav
      .container-fluid.d-flex.hero-content-wrapper.justify-content-left
        .row
          .hero-copy.col-12.col-sm-auto.hidden-md-up
            h1
              | Bowery is a new kind of appraisal firm. 
            p Bowery is the world's first truly tech-enabled appraisal firm
          .hero-copy.col-10.col-md-auto.hidden-sm-down
            h1
              | Bowery is a new kind of appraisal firm. 
            p Bowery is the world's first truly tech-enabled appraisal firm.
  .container-fluid
    .row
      .responsive-alignment.col-sm-6.offset-sm-3
        h3
          | Our Tech
          wbr
          |  Makes Us Different
        br
        p Powered by big data, advanced technology, and extensive expertise, Bowery is redefining the commercial appraisal space.
    .row
      include bowery-benefits
  include contact
