extends layout

block content
  .jumbotron#home-hero
    .hero-inner
      include nav
      .container-fluid.vertically-center
        .hero-copy.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
          h1 Unrivaled accuracy, consistency, and quality
          p Bowery is the world's first truly tech-enabled appraisal firm
          p
            .btn.btn-danger Find Out How
  .container-fluid
    .col-sm-12
      .row
        .col-sm-6.col-sm-offset-3.text-center
          h3
            | Our Tech
            wbr
            |  Makes Us Different
          p Powered by big data, advanced technology, and extensive expertise, Bowery is redefining the commercial appraisal space with never before seen access to underlying property data.
      .row
      include bowery-benefits
  include contact
