extends layout

block content
  .navbar.navbar-default
    .container-fluid
      .navbar-header.visible-xs
        a.navbar-brand
          img(src="/images/boweryLogo_white.png" height=75 width=75)
  .container-fluid.not-header
    .content
      .row.hidden-xs
        .col-sm-12.text-center
          img(src="/images/boweryLogo_large.png" width=475)
      .row
        .col-sm-8.col-sm-offset-2.text-center
          h3.splash-text 
            | Bowery is a web platform for commercial appraisers.
            br
            | Email 
            a(href="mailto:info@boweryres.com") info@boweryres.com 
            | to schedule a demo
  
