extends layout

block content
  - var homeClass = 'active'
  .jumbotron#home-hero.embed-responsive.embed-responsive-21by9
    .hero-inner.embed-responsive-item
      include nav
      .container-fluid.d-flex.hero-content-wrapper.justify-content-left
        .row
          .hero-copy.col-12.col-sm-auto.hidden-md-up
            h1
              | Bowery is a new kind of appraisal firm. 
            p Bowery is the world's first truly tech-enabled appraisal firm
          .hero-copy.col-8.col-md-auto.hidden-sm-down
            h1
              |  Bowery is the world's first truly tech-enabled appraisal firm. 
            p
              | We use dope tech to create the world's best appraisals.
            a.btn.btn-secondary(href="/files/James_Dunne_Professional_Profile_Bowery.docx") Request a sample report
  .container-fluid
    .row
      include bowery-benefits
  include contact
