extends layout

block content
  - var homeClass = 'active'
  .jumbotron#home-hero.embed-responsive.embed-responsive-16by9
    .hero-inner.embed-responsive-item
      include nav
      .container-fluid.d-flex.hero-content-wrapper.justify-content-center
        .row.align-self-center.justify-content-center
          .hero-copy.col-11.col-sm-auto.hidden-md-up
            h2
              | The world's first truly tech-enabled appraisal firm
            p We use technology to create better appraisals
          .hero-copy.col-10.col-md-auto.hidden-sm-down
            h1
              | The world's first truly tech-enabled appraisal firm
            p We use technology to create better appraisals
    video.embed-responsive-item.hidden-sm-down(autoplay loop muted)
      source(src="/videos/home_bg.mp4" type="video/mp4")
  .container-fluid
    .row
      .responsive-alignment.col-sm-6.offset-sm-3
        h3
          | Our Tech
          wbr
          |  Makes Us Different
        br
        p Powered by big data, advanced technology, and extensive expertise, Bowery is redefining the commercial appraisal space.
    .row
      include bowery-benefits
    include press
  include contact
