.row
  .col-sm-10#lead-appraiser
    h2 Overview
    p James Dunne, MAI, is the COO of Bowery Real Estate Systems. He has worked in the real estate industry for a total of 15 years, including 8 years of commercial real estate appraisal experience. Most recently, James served as a Vice President at CBRE in their Valuation and Advisory Services group.
    br
    .card#contact-info
      .card-block
        h5.card-title Contact
        ul.card-text.list-unstyled
          li
            span.icon.icon-Compose-Mail2 
            a(href="mailto:james@boweryres.com") james@boweryres.com
          li
            span.icon.icon-Phone-4 
            a(href="tel:7035055845") 703.505.5845
          li
            span.icon.icon-Mobile-2 
            a(href="tel:5103052455") 510.305.2455
    br
.row
  .col-sm-10#experience
    h2 Experience 
    p 
    | Mr. Dunne has appraised a wide variety of property types including multifamily, office, industrial, self-storage facilities, retail centers, mixed-use properties and development sites. Mr. Dunne has also been engaged to perform retail and residential market rental studies.  His clients include commercial banks, pension funds, private equity, government institutions, attorneys and developers.
    br
    br
    p Below is a list of select assignments
    .list-group
      .list-group-item.flex-column.align-items-start(href='#')
        .d-flex.w-100.justify-content-between
          h5 St. Barnabas Wellness Care
          small.text-muted.hidden-sm-down Bronx, NY
        p.text-muted.hidden-sm-up Bronx, NY
        p
          | 450,000 SF development with 314 residential units plus retail, community & medical space (under construction)
        |  
      .list-group-item.flex-column.align-items-start(href='#')
        .d-flex.w-100.justify-content-between
          h5 ARCIS Fine Art + Collection Care  
          small.text-muted.hidden-sm-down Harlem, NY
        p.text-muted.hidden-sm-up Harlem, NY
        p
          | High security, temperature and humidity controlled Foreign Trade Zone designated art storage complex
        |  
      .list-group-item.flex-column.align-items-start(href='#')
        .d-flex.w-100.justify-content-between
          h5 214 East 44th Street
          small.text-muted.hidden-sm-down Midtown, NY
        p.text-muted.hidden-sm-up Midtown, NY
        p
          | New 40-story luxury apartment complex with retail (under development)
        |  
    br
    br

