.row#lead-appraiser
  .col-sm-10
    h2 Overview
    p James Dunne, MAI, is the COO of Bowery Real Estate Systems. He has worked in the real estate industry for a total of 15 years, including 8 years of commercial real estate appraisal experience. Most recently, James served as a Vice President at CBRE in their Valuation and Advisory Services group.
    br
    .card
      .card-block
        h4.card-title Contact
        p.card-text
          | 522 East 5th Street, Floor 1
          br
          | New York, NY 10009
          br
          | Email 
          a(href="mailto:james@boweryres.com") james@boweryres.com
          br
          | Office: 
          a(href="tel:7035055845") 703.505.5845
          br
          | Mobile: 
          a(href="tel:5103052455") 510.305.2455
    br
    h2 Experience 
    p 
    | Mr. Dunne has appraised a wide variety of property types including multifamily, office, industrial, self-storage facilities, retail centers, mixed-use properties and development sites. Mr. Dunne has also been engaged to perform retail and residential market rental studies.  His clients include commercial banks, pension funds, private equity, government institutions, attorneys and developers.
    br
    br
    p Below is a list of select assignments
    .list-group
      .list-group-item.flex-column.align-items-start(href='#')
        .d-flex.w-100.justify-content-between
          h5.mb-1 St. Barnabas Wellness Care
          |  
          small Bronx, NY
        p.mb-1
          | 450,000 SF development with 314 residential units plus retail, community & medical space (under construction)
        |  
      .list-group-item.flex-column.align-items-start(href='#')
        .d-flex.w-100.justify-content-between
          h5.mb-1 ARCIS Fine Art + Collection Care
          |  
          small.text-muted Harlem, NY
        p.mb-1
          | High security, temperature and humidity controlled Foreign Trade Zone designated art storage complex
        |  
      .list-group-item.flex-column.align-items-start(href='#')
        .d-flex.w-100.justify-content-between
          h5.mb-1 214 East 44th Street
          |  
          small.text-muted Midtown, NY
        p.mb-1
          | New 40-story luxury apartment complex with retail (under development)
        |  
    br
    br

