.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand
        img(src="/images/boweryLogo_white.png", height=75, width=75)
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href="/") Home
        li
          a(href="/team") Team