.row#qualifications
  .col-sm-10
    h2 Qualifications
    ul
      li Appraisal Institute – Designated Member (MAI) 
      li New York State Certified General Real Estate Appraiser, License No. 46000050776 
      li Connecticut State Certified General Real Estate Appraiser, License No. RCG.0001449 
      li New Jersey State Certified General Real Estate Appraiser, License No. 42RG00252800
    p 
      .card
        .card-block
          h5.card-title Download James' CV
          .card-text File will download as a .docx document
          br
          a.btn.btn-primary(href="/files/James_Dunne_Professional_Profile_Bowery.docx" download) Download CV