.row#references
  .col-sm-12.text-center
    br
    h2 Testimonials are dope
    br
    .testimonial
      p "This person is amazing"
    .testimonial
      p "This person is amazing and handsome"
    .testimonial
      p "If this person asked me for money on the street, I'd give them all of my money instantly"