.row#sample
  .col-sm-12.text-center
    br
    h2 Sample Report
    br
    p.text-left We believe we provide the best reports in the industry. Click the button below to download a sample and see for yourself. 
    figure.figure
      figcaption.figure-caption.text-right a caption
      button.btn.btn-primary Download Sample
    .card.card-inverse
      img.card-img(src="http://image.slidesharecdn.com/49f0690e-030a-45ef-9c70-72125f1dd81d-160312025324/95/lar-lee-res-031116-2-638.jpg?cb=1457751401")
      .card-img-overlay
        h4.card-title card title
        p.card-text card text
    .row
      .col-sm-6
        .card.card-inverse
          img.card-img(
            src="http://image.slidesharecdn.com/49f0690e-030a-45ef-9c70-72125f1dd81d-160312025324/95/lar-lee-res-031116-2-638.jpg?cb=1457751401")
          .card-img-overlay(
            style="background-color: #333; border-color: #333;"
            )
            h4.card-title Example Mutli-family Report
            button.btn.btn-primary Download Sample
