extends layout

block content
  #team-bios
    .jumbotron
      #team-hero
        .hero-inner
          include nav
          .container-fluid.d-flex.justify-content-center.hero-content-wrapper
            .row.align-self-center
              .col-sm-12.col-md-auto
                h3 
                  | We bring together real-estate professionals and engineers in 
                  br
                  | building the first truly modern appraisal firm.
    .container
      include bios