extends layout

block content
  #team-bios
    .jumbotron
      #team-hero
        .hero-inner
          include nav
          .container-fluid.vertically-center
            .hero-copy.col-sm-8.col-sm-offset-2
              h3 Everyone on the Bowery team is hella dope. Like the dopest. How can they not win? 
    .container-fluid
      include bios