extends layout

block content
  #team-bios
    .jumbotron
      #team-hero
        .hero-inner
          include nav
          .container-fluid
            .hero-copy.col-sm-8.col-sm-offset-2
              h3 We bring together real-estate professionals and engineers in building the first truly modern appraisal firm.
    .container-fluid
      include bios