extends layout

block content
  - var teamClass = 'active'
  #team-bios
    .jumbotron
      #team-hero
        .hero-inner
          include nav
          .container-fluid.d-flex.justify-content-center.hero-content-wrapper
            .row.align-self-center
              .col-sm-12.col-md-auto
                h3  We have brought together commercial appraisal and engineers to build the platform that we used to only dream about.
    .container
      include bios